body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

select {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#lista_jugadores {
    list-style-type: none;
    padding: 0;
}

#lista_jugadores li {
    margin-bottom: 10px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.contenedor-jugadores {
    display: flex; 
}

.contenedor-jugador {
    flex: 1; 
    margin-right: 20px;
}

.contenedor-jugador:last-child {
    margin-right: 0; 
}

.contenedor-jugador ul {
    margin-bottom: 10px; 
}

.contenedor-jugador li {
    margin-bottom: 5px; 
}


.title {
    font-family: Arial, sans-serif; 
    color: #333; 
    margin-bottom: 15px; 
}

canvas {
    position: relative;
    left: 350px;
    top: 30px;
    fill: green;
    background-color: green !important;
}


ul#starting_11 {
    position: absolute;
    top: 30px;
    left: 350px;
}
ul#starting_11 li {
    width: 40px;
    height: 40px;
    background: #000;
    display: block;
    opacity: 0.1;
    border-radius: 100px;
    box-shadow: 0px -2px 5px 1px #000;
    border: 1px solid #666;
    overflow: hidden;
}
ul#starting_11 li img {
    margin-top: -5px;
}
ul#starting_11 li#pos1 {
    top: 20px;
    left: 265px;
    position: absolute;
}
ul#starting_11 li#pos2 {
    top: 120px;
    left: 110px;
    position: absolute;
}
ul#starting_11 li#pos3 {
    top: 100px;
    left: 210px;
    position: absolute;
}
ul#starting_11 li#pos4 {
    top: 100px;
    left: 320px;
    position: absolute;
}
ul#starting_11 li#pos5 {
    top: 120px;
    left: 415px;
    position: absolute;
}
ul#starting_11 li#pos6 {
    top: 250px;
    left: 100px;
    position: absolute;
}
ul#starting_11 li#pos7 {
    top: 250px;
    left: 210px;
    position: absolute;
}
ul#starting_11 li#pos8 {
    top: 250px;
    left: 320px;
    position: absolute;
}
ul#starting_11 li#pos9 {
    top: 250px;
    left: 430px;
    position: absolute;
}
ul#starting_11 li#pos10 {
    top: 400px;
    left: 320px;
    position: absolute;
}
ul#starting_11 li#pos11 {
    top: 400px;
    left: 210px;
    position: absolute;
}
ul#starting_11 .highlight {
    opacity: 0.7;
}
ul#starting_11 .selected {
    opacity: 1;
    z-index: 2;
}
ul#starting_11 .selected img {
    z-index: -1;
}



/* Estilo de las tarjetas de jugador */
.targets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.filterDiv {
    width: 300px; /* Ancho de la tarjeta */
    margin-bottom: 20px;
}

.discount.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.discount.card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.discount.card img {
    width: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.discount.card hr {
    border: none;
    border-top: 1px solid #ccc;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.discount.card p {
    margin: 5px 0;
    font-size: 0.9em;
}

.discount.card span {
    font-weight: bold;
    color: #333;
}

.discount-wrapper {
    margin-top: 20px;
}

.discount-info {
    display: flex;
    justify-content: center;
}

.filedown button {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave */
}

.filedown button:hover {
    background-color: #45a049; /* Cambio de color de fondo al pasar el mouse */
}

/* Estilos específicos para diferentes posiciones */
.GK {
    background-color: #ffc107; /* Color de fondo para porteros */
}

.DF {
    background-color: #007bff; /* Color de fondo para defensas */
}

.MC {
    background-color: #28a745; /* Color de fondo para centrocampistas */
}

.DL {
    background-color: #dc3545; /* Color de fondo para delanteros */
}
