/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de los selectores */
select {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
}

/* Estilos del botón */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos de la lista de jugadores */
#lista_jugadores {
    list-style-type: none;
    padding: 0;
}

#lista_jugadores li {
    margin-bottom: 10px;
}

/* Estilos del título */
h2 {
    color: #333;
    margin-bottom: 10px;
}

.contenedor-jugadores {
    display: flex; 
}

.contenedor-jugador {
    flex: 1; 
    margin-right: 20px;
}

.contenedor-jugador:last-child {
    margin-right: 0; 
}

.contenedor-jugador ul {
    margin-bottom: 10px; /* Agregar margen inferior a la lista de jugadores */
}

.contenedor-jugador li {
    margin-bottom: 5px; /* Agregar margen inferior a cada elemento de la lista */
}


.title {
    font-family: Arial, sans-serif; /* Cambiar la fuente */
    color: #333; /* Cambiar el color del texto */
    margin-bottom: 15px; /* Agregar margen inferior */
}
