body {
    background: #333;
    color: #ffffff;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
}



.image-container {
    border: 1px solid #ccc; 
    margin-bottom: 20px; 
    padding: 20px; 
    max-width: 800px; 
    display: block; 
    overflow: hidden; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 30px;
    background-color: #ccc;
}

.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

