/* Estilos para el contenedor principal */
#container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add shadow */
    
}

/* Estilos para los selectores */
select {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

body{
    background-color: #333;
}

/* Estilos para el botón */
#show_player_info {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;

}


/* Estilos para el botón */
#show_team_info {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;

}


/* Estilos para la información del jugador */
#player_info {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
}


#team_info {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    max-height: 320px; /* Establece una altura máxima */
    overflow-y: auto; /* Agrega desbordamiento vertical */
}
th, td {
    padding: 6px; /* Reducir el padding */
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px; /* Reducir el tamaño del texto */
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

#lesionados-container {
    max-height: 400px; 
    overflow-y: auto; 
}


#jugadores-container {
    max-height: 400px; 
    overflow-y: auto; 

}

h1 {
  font-size: 6vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: #ccc;
  padding: 10rem;

}


.fancy {
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}

#jugadores-table{
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

#jugadores-container{
    margin-bottom: 4rem;
    padding-bottom: 4rem;

}


.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 280px;
    padding-left: 40px;

}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: 0;
    font-size: 17px;
    color: #ffffff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #ffffff;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

canvas {
    max-width: 600px; 
    max-height: 400px; 
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
}

#canvas-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-bottom: 20px; 
    padding: 3rem;
}

.subtitle{
  font-family: Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center; /* Alineación del texto */
  margin-top: 20px; /* Margen superior */
  margin-bottom: 20px; /* Margen inferior */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  padding: 3rem;
}

tr{
    background-color: #f2f2f2;
}


/* ---------------- CSS TABLA DESCARTE DE COLUMNAS ---------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  body {
    font: 14px/1.4 Arial, Serif; }
  
  #page-wrap {
    margin: 30px; }
  
  p {
    margin: 20px 0; }
  
  /*
  Generic Styling, for Desktops/Laptops
  */
  table {
    width: 100%;
    border-collapse: collapse; }
  
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #d5d5d5; }
  
  th {
    background: #333;
    color: white;
    font-weight: bold; }
  
  td, th {
    padding: 6px 10px;
    text-align: left; }
  
    #lesionados-container {
      max-height: 400px; 
      overflow-y: auto; 
  }

  #lesionados-container table {
      width: 100%;
      border-collapse: collapse; 
  }

  #lesionados-container th {
      position: sticky; 
      top: 0; 
      z-index: 1; 
  }

  #jugadores-container th{
      position: sticky; 
      top: 0; 
      z-index: 1;
  }

  #lesionados-container td, #lesionados-container th {
      padding: 8px; 
      border: 1px solid #ddd; 
      text-align: left; 
  }

  #lesionados-container th:nth-child(1),
  #lesionados-container td:nth-child(1) {
      /* Estilos específicos para la primera columna si es necesario */
  }



  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
      padding: 0;
      margin: 0;
      width: 320px; } }
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
      width: 495px; } }
  .response-table-v2 .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .response-table-v2 * html .cf {
    zoom: 1; }
  .response-table-v2 *:first-child + html .cf {
    zoom: 1; }
  .response-table-v2 .rt {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
  .response-table-v2 .rt th .select {
    display: none; }
  @media only screen and (max-width: 900px) {
    .response-table-v2 {
      /* sort out borders */ }
      .response-table-v2 #rt1 {
        display: block;
        position: relative;
        width: 100%; }
      .response-table-v2 #rt1 thead {
        display: block;
        float: left; }
      .response-table-v2 #rt1 tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap; }
      .response-table-v2 #rt1 thead tr {
        display: block; }
      .response-table-v2 #rt1 th {
        display: block; }
      .response-table-v2 #rt1 tbody tr {
        display: inline-block;
        margin-left: -4px; }
      .response-table-v2 #rt1 td {
        display: block;
        min-height: 1.25em;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .response-table-v2 .rt th .select {
        display: inline; }
      .response-table-v2 #rt2 {
        display: block;
        position: relative;
        width: 100%; }
      .response-table-v2 #rt2 thead {
        display: block;
        float: left; }
      .response-table-v2 #rt2 tbody {
        display: -webkit-box;
        overflow-x: auto; }
      .response-table-v2 #rt2 th,
      .response-table-v2 #rt2 tr,
      .response-table-v2 #rt2 td {
        display: block; }
      .response-table-v2 .rt th {
        border-bottom: 0; }
      .response-table-v2 .rt td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0; }
      .response-table-v2 .rt tbody tr {
        border-right: 1px solid #babcbf; }
      .response-table-v2 .rt th:last-child,
      .response-table-v2 .rt td:last-child {
        border-bottom: 1px solid #babcbf; } }
  
