/* Estilos para el contenedor principal */
#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add shadow */
    
}

/* Estilos para los selectores */
select {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

/* Estilos para el botón */
#show_player_info {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;

}


/* Estilos para el botón */
#show_team_info {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;

}


/* Estilos para la información del jugador */
#player_info {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
}


#team_info {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    max-height: 320px; /* Establece una altura máxima */
    overflow-y: auto; /* Agrega desbordamiento vertical */
}
th, td {
    padding: 6px; /* Reducir el padding */
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px; /* Reducir el tamaño del texto */
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

#lesionados-container {
    max-height: 400px; 
    overflow-y: auto; 
}


#jugadores-container {
    max-height: 400px; 
    overflow-y: auto; 

}

h1 {
    font-size: 3rem; 
    color: #333; 
    text-align: center; 
    margin-bottom: 2rem; 
    text-transform: uppercase; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }

#jugadores-table{
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}


.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}