body {
    background: url('../imagenes/image_mundial.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center; /* Alineación del texto */
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    padding: 3rem;
    
}

h1 {
    text-align: center;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 5rem; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    padding: 3rem;
}

#select-competition {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #333;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    color: #ddd;
}

table th {
    background-color: #333;
}




table tbody td img {
    max-width: 300px;
    height: auto;
}
