body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center; /* Alineación del texto */
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    padding: 3rem;
    
}

#select-competition {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    color: #ddd;
}

table th {
    background-color: #333;
}




table tbody td img {
    max-width: 300px;
    height: auto;
}
