<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datajugadores.css') }}">
    <title>DreamXI</title>
</head>
<body>
    <p>hola que tal</p>

    <div id="container">
        <h2>Selecciona un jugador:</h2>
        <select id="player_select">
            {% for player in players %}
                <option value="{{ player.Nombre }}">{{ player.Nombre }}</option>
            {% endfor %}
        </select>
        <button id="show_player_info">Mostrar información del jugador</button>

        <select id="team_select">
            {% set equipos = [] %}
            {% for player in players %}
                {% if player.Equipo not in equipos %}
                    <option value="{{ player.Equipo }}">{{ player.Equipo }}</option>
                    {% set _ = equipos.append(player.Equipo) %}
                {% endif %}
            {% endfor %}
        </select>
        <button id="show_team_info">Mostrar información del jugador</button>

        <div id="player_info"></div>
    </div>

    <h1>Tabla de Lesiones</h1>
    <table>
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Jugador</th>
                <th>Lesión</th>
            </tr>
        </thead>
        <tbody>
            {% for lesion in lesiones %}
            <tr>
                <td>{{ lesion['Equipo'] }}</td>
                <td>{{ lesion['Jugador'] }}</td>
                <td>{{ lesion['Lesion'] }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>


    <script src="{{ url_for('static', filename='js/datajugadores.js') }}"></script>
</body>
</html>
