<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>DreamXI</title>
</head>
<body>
    <button id="button1" onclick="redirectTo('/datajugadores')">Visualizar Data Jugadores</button>
    
    <button id="button2" onclick="redirectTo('/alineaciones')">Alineaciones</button>

    <button id="button3" onclick="redirectTo('/miequipo')">Mi Equipo</button>

    <button id="button4" onclick="redirectTo('/alineacionesProbables')">Alineaciones Probables</button>

    <nav>
        <a href="#seccion1">Sección 1</a>
        <a href="#seccion2">Sección 2</a>
        <a href="#seccion3">Sección 3</a>
    </nav>

    <div id="seccion1" class="seccion">
        <h2>Sección 1</h2>
        <p>Contenido de la sección 1...</p>
        <button id="button1" onclick="redirectTo('/datajugadores')">Visualizar Data Jugadores</button>

    </div>

    <div id="seccion2" class="seccion">
        <h2>Sección 2</h2>
        <p>Contenido de la sección 2...</p>
        <button id="button2" onclick="redirectTo('/alineaciones')">Alineaciones</button>

    </div>

    <div id="seccion3" class="seccion">
        <h2>Sección 3</h2>
        <p>Contenido de la sección 3...</p>
        <button id="button3" onclick="redirectTo('/miequipo')">Mi Equipo</button>

    </div>

    <div id="seccion4" class="seccion">
        <h2>Sección 4</h2>
        <p>Contenido de la sección 4...</p>
        <button id="button4" onclick="redirectTo('/alineacionesProbables')">Alineaciones Probables</button>

    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
