<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login DreamXI</title>
</head>
<body>
    <h2>Login</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="registerForm" method="POST" action="{{ url_for('login') }}">
                <input type="hidden" name="action" value="register">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>registrate aqui!</span>
                <input type="text" id="username" name="username" placeholder="Username" />
                <input type="password" id="password" name="password" placeholder="Password" />
                <input type="email" id="email" name="email" placeholder="Email" />
                <button class="button" type="submit">Registrarte</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="loginForm" method="POST" action="{{ url_for('login') }}">
                <input type="hidden" name="action" value="login">
                <h1>Inicio Sesion</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>introdue tus credenciales</span>
                <input type="text" id="username" name="username" placeholder="Username" />
                <input type="password" id="password" name="password" placeholder="Password" />
                <a href="{{ url_for('olvidocontrasena') }}">¿Olvidaste tu contraseña?</a>
                <button class"button" type="submit">Iniciar sesión</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Registro DREAMXI!</h1>
                    <p>Si quieres mantenerte conectado por favor inicia sesion</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bienvenido a Dream XI!</h1>
                    <p>Si no estas registrado crea aqui tu cuenta!</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
