<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/olvidoContrasena.css') }}">
    <title>DreamXI</title>
</head>
<body>
    <div class="card login-form">
        <div class="card-body">
            <h1 class="card-title text-center">Reset password</h1>
            
            <div class="card-text">
                <form action="/olvidocontrasena" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Introduce tu correo para seguir con el proceso</label>
                        <input type="email" name="email" class="form-control form-control-sm" placeholder="Introduce tu correo">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                </form>
                
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/datajugadores.js') }}"></script>
</body>
</html>
