<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>DreamXI</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo_dreamXI.png') }}" type="image/x-icon">
    <!--  Styles  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300|Bungee" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #dd1d1d;
        }
    </style>
</head>
<body>

    <h2>Panel de Administración</h2>

    <table>
        <tr>
        <th>ID Usuario</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>Email</th>
        <th>Perfil</th>
        <th>Acciones</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
        <td>{{ usuario['id_usuario'] }}</td>
        <td>{{ usuario['user'] }}</td>
        <td>{{ usuario['password'] }}</td>
        <td>{{ usuario['email'] }}</td>
        <td>{{ usuario['profile'] }}</td>
        <td>
            <a href="/eliminar_usuario?id={{ usuario['id_usuario'] }}"><button>Eliminar</button></a>
            <a href="/modificar_usuario?id={{ usuario['id_usuario'] }}"><button>Modificar</button></a>
        </td>
        </tr>
        {% endfor %}
    </table>
    
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
