<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alineacionesProbables.css') }}">
    <title>DreamXI</title>
        <link rel="icon" href="{{ url_for('static', filename='imagenes/logo_dreamXI.png') }}" type="image/x-icon">

</head>
<body>

    <h1>Alineaciones probables para la próxima jornada</h1>

    
    <div id="jugadores-container">
        <table class="table-jornadas" border="1">
            <thead>
                <tr>
                    <th>Jornada</th>
                    <th>Fecha</th>
                    <th>Equipo Local</th>
                    <th>Resultado</th>
                    <th>Equipo Visitante</th>
                </tr>
            </thead>
            <tbody>
                {% for jornada in jornadas %}
                <tr data-fecha="{{ jornada.Fecha }}">
                    <td>{{ jornada.Jornada }}</td>
                    <td>{{ jornada.Fecha }}</td>
                    <td>{{ jornada.Equipo_Local }}</td>
                    <td>{{ jornada.Resultado }}</td>
                    <td>{{ jornada.Equipo_Visitante }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="alineaciones-container" id="alineaciones-container">
        <div class="image-container">
            <h2>Partido 1</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido1.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 2</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido2.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 3</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido3.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 4</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido4.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 5</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido5.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 6</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido6.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 7</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido7.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 8</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido8.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 9</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido9.png') }}" alt="Descripción de la imagen">
        </div>

        <div class="image-container">
            <h2>Partido 10</h2>
            <img src="{{ url_for('static', filename='imagenes/alineacionesp/partido10.png') }}" alt="Descripción de la imagen">
        </div>

    </div>



    
    <footer>
        <p>© 2024 DreamXI. Todos los derechos reservados.</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/alineacionesProbables.js') }}"></script>
</body>
</html>
