<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alineaciones.css') }}">
    <title>DreamXI</title>
</head>
<body>

	<select id="alineacion_select">
        <option value="4-4-2">4-4-2</option>
        <option value="4-3-3">4-3-3</option>
        <option value="3-5-2">3-5-2</option>
	</select>
    
	<select id="player_select">
		{% for player in players %}
            <option value="{{ player.Nombre }}" data-posicion="{{ player.Posicion }}" data-precio="{{ player.Precio}}">{{ player.Nombre }} ({{ player.Posicion }})</option>
		{% endfor %}
	</select>

	<button onclick="agregarJugador()">Añadir</button>

    <div id="jugadores_seleccionados">
        <h2>Jugadores seleccionados:</h2>
        <ul id="lista_jugadores"></ul>
    </div>

    <div id="total_precio">
        <h2>Total precio:</h2>
        <p id="precio_total">0</p>
    </div>

	<button onclick="guardarPlantilla()">Guardar Plantilla</button>

    <script src="{{ url_for('static', filename='js/alineaciones.js') }}"></script>
</body>
</html>
