<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datajugadores.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@5"></script>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo_dreamXI.png') }}" type="image/x-icon">


    <title>DreamXI</title>
</head>
<body>

    <h2 class="subtitle">CLASIFICACION LALIGA<h2>
    <table>
        <tr>
        <th>Escudo</th>
        <th>Equipo</th>
        <th>Abreviación</th>
        <th>Victorias</th>
        <th>Derrotas</th>
        <th>Empates</th>

        <th>PJ</th>
        <th>GF</th>
        <th>GC</th>

        </tr>
        {% for equipo in data_api %}
        <tr>
        <td><img src="{{ equipo.team.logo }}" alt="{{ equipo.team.name }} Logo" height="50"></td>
        <td>{{ equipo.team.name }}</td>
        <td>{{ equipo.team.abbreviation }}</td>
        <td>{{ equipo.stats.wins }}</td>
        <td>{{ equipo.stats.losses }}</td>
        <td>{{ equipo.stats.ties }}</td>
        <td>{{ equipo.stats.gamesPlayed }}</td>
        <td>{{ equipo.stats.goalsAgainst }}</td>
        <td>{{ equipo.stats.goalDifference }}</td>
        </tr>
        {% endfor %}
    </table>


    <h2 class="subtitle">Datos de Jornadas</h2>
    <label for="filtro">Fechas y resultados por fechas:</label>
    <select id="filtro">
        <option value="todos">Todos</option>
        {% set unique_dates = [] %}
        {% for jornada in jornadas %}
            {% if jornada.Fecha not in unique_dates %}
                <option value="{{ jornada.Fecha }}">{{ jornada.Fecha }}</option>
                {% set _ = unique_dates.append(jornada.Fecha) %}
            {% endif %}
        {% endfor %}
    </select>
    
    <div id="jugadores-container">
        <table class="table-jornadas" border="1">
            <thead>
                <tr>
                    <th>Jornada</th>
                    <th>Fecha</th>
                    <th>Equipo Local</th>
                    <th>Resultado</th>
                    <th>Equipo Visitante</th>
                </tr>
            </thead>
            <tbody>
                {% for jornada in jornadas %}
                <tr data-fecha="{{ jornada.Fecha }}">
                    <td>{{ jornada.Jornada }}</td>
                    <td>{{ jornada.Fecha }}</td>
                    <td>{{ jornada.Equipo_Local }}</td>
                    <td>{{ jornada.Resultado }}</td>
                    <td>{{ jornada.Equipo_Visitante }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    



    <h2 class="subtitle">Datos jugadores/equipos<h2>
    <div id="container">
        <h3>Selecciona un jugador:</h3>
        <select id="player_select">
            {% for player in players %}
                <option value="{{ player.Nombre }}">{{ player.Nombre }}</option>
            {% endfor %}
        </select>
        <button id="show_player_info">Mostrar información del Jugador</button>

        <div id="player_info"></div>

        <select id="team_select">
            <h3>Selecciona un jugador:</h3>
            {% set equipos = [] %}
            {% for player in players %}
                {% if player.Equipo not in equipos %}
                    <option value="{{ player.Equipo }}" data-lesiones="{{ cantidad_lesionados }}">{{ player.Equipo }}</option>
                    {% set _ = equipos.append(player.Equipo) %}
                {% endif %}
            {% endfor %}
        </select>
        <button id="show_team_info">Mostrar miembros del Equipo</button>
        <div id="team_info"></div>
    </div>

    <div id="canvas-container">
        <canvas id="lesiones-chart"></canvas> 
        <canvas id="equipo-con-mas-puntos-chart"></canvas> 
    </div>
    

    <h2 class="subtitle">Lesiones actuales</h2>
    <div id="lesionados-container">
        <table>
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Jugador</th>
                    <th>Lesión</th>
                </tr>
            </thead>
            <tbody>
                {% for lesion in lesiones %}
                <tr>
                    <td>{{ lesion['Equipo'] }}</td>
                    <td>{{ lesion['Jugador'] }}</td>
                    <td>{{ lesion['Lesion'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="subtitle">Puntuaciones Fantasy Jugadores</h2>
    <div class="tabla-jugadores">
        <div class="form__group field">
            <input type="text" id="search_input" class="form__field" placeholder="Buscar jugador...">
            <label for="name" class="form__label">Busca un jugador</label>
        </div>        
        <div id="jugadores-container">
            <table id="jugadores-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Equipo</th>
                        <th>Precio</th>
                        <th>Puntos</th>
                        <th>Partidos</th>
                        <th>Minutos</th>
                        <th>Goles</th>
                        <th>Asistencias</th>
                        <th>Puntos JornadaX</th>
                        <th>Puntos JornadaY</th>
                        <th>Puntos JornadaZ</th>
                        <th>Tendencia</th>

                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <td>{{ player['Nombre'] }}</td>
                        <td>{{ player['Equipo'] }}</td>
                        <td>{{ player['Precio'] }}</td>
                        <td>{{ player['Puntos'] }}</td>
                        <td>{{ player['Partidos'] }}</td>
                        <td>{{ player['Minutos'] }}</td>
                        <td>{{ player['Goles'] }}</td>
                        <td>{{ player['Asistencias'] }}</td>
                        <td>{{ player['Antepenultima_Jornada'] }}</td>
                        <td>{{ player['Penultima_Jornada'] }}</td>
                        <td>{{ player['Ultima_Jornada'] }}</td>
                        <td>{{ player['Flecha'] }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        <div>   
    <div>


<script src="{{ url_for('static', filename='js/datajugadores.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var equipos = [];
        var lesionesPorEquipo = {};
    
        {% for lesion in lesiones %}
            var equipo = "{{ lesion['Equipo'] }}";
            var tipoLesion = "{{ lesion['Lesion'] }}"; 
            if (!(equipo in lesionesPorEquipo)) {
                equipos.push(equipo);
                lesionesPorEquipo[equipo] = {};
            }
            if (!(tipoLesion in lesionesPorEquipo[equipo])) {
                lesionesPorEquipo[equipo][tipoLesion] = 1;
            } else {
                lesionesPorEquipo[equipo][tipoLesion]++;
            }
        {% endfor %}
    
        var datasets = [];
        for (var equipo in lesionesPorEquipo) {
            var data = [];
            for (var tipoLesion in lesionesPorEquipo[equipo]) { 
                data.push(lesionesPorEquipo[equipo][tipoLesion]);
            }
            datasets.push({
                label: equipo,
                data: data,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            });
        }
    
        var ctx = document.getElementById('lesiones-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie', 
            data: {
                labels: equipos, 
                datasets: datasets
            },
            options: {
            }
        });
    });
    

    document.addEventListener('DOMContentLoaded', function () {
        var puntosPorEquipo = {};
        var filasJugadores = document.querySelectorAll('#jugadores-table tbody tr');
        filasJugadores.forEach(function(fila) {
            var equipo = fila.cells[1].textContent; 
            var puntos = parseInt(fila.cells[3].textContent); 
            if (equipo in puntosPorEquipo) {
                puntosPorEquipo[equipo] += puntos;
            } else {
                puntosPorEquipo[equipo] = puntos;
            }
        });
    
        var nombresEquipos = Object.keys(puntosPorEquipo);
        var puntosAcumulados = nombresEquipos.map(function(equipo) {
            return puntosPorEquipo[equipo];
        });
    
        var ctx = document.getElementById('equipo-con-mas-puntos-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: nombresEquipos,
                datasets: [{
                    label: 'Puntos acumulados por equipo',
                    data: puntosAcumulados,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });


</script>
</body>
</html>
