<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miequipo.css') }}">
    <title>DreamXI</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo_dreamXI.png') }}" type="image/x-icon">

</head>
<body>

    <div class="stage">
        <div class="world">
          <div class="team"></div>
          <div class="terrain">
            <div class="field ground">
              <div class="field__texture field__texture--gradient"></div>
              <div class="field__texture field__texture--gradient-b"></div>
              <div class="field__texture field__texture--grass"></div>
              <div class="field__line field__line--goal"></div>
              <div class="field__line field__line--goal field__line--goal--far"></div>
              <div class="field__line field__line--outline"></div>
              <div class="field__line field__line--penalty"></div>
              <div class="field__line field__line--penalty-arc"></div>
              <div class="field__line field__line--penalty-arc field__line--penalty-arc--far"></div>
              <div class="field__line field__line--mid"></div>
              <div class="field__line field__line--circle"></div>
              <div class="field__line field__line--penalty field__line--penalty--far"></div>
            </div>
            <div class="field__side"></div>
          </div>
        </div>
      </div>
      
      <canvas id="pitch" width="600" height="600"></canvas>
      
      <ul id="starting_11" class="4-4-2">
        <li data-pos="gk" id="pos1"></li>
        <li data-pos="df" id="pos2" draggable="true"></li>
        <li data-pos="df" id="pos3" draggable="true"></li>
        <li data-pos="df" id="pos4" draggable="true"></li>
        <li data-pos="df" id="pos5" draggable="true"></li>
        <li data-pos="md" id="pos6" draggable="true"></li>
        <li data-pos="md" id="pos7" draggable="true"></li>
        <li data-pos="md" id="pos8" draggable="true"></li>
        <li data-pos="md" id="pos9" draggable="true"></li>
        <li data-pos="fw" id="pos10" draggable="true"></li>
        <li data-pos="fw" id="pos11" draggable="true"></li>
      </ul>
          
      
      <section>
        <h1>Choose your team</h1>
        
        <div class="positions menu">
          <a>Goalkeepers</a>
          <ul data-pos="gk">
            <li>
              <div draggable="true" data-player="J.Hart">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=15749"/>
                <p>J.Hart</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="B.Forster">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=9089"/>
                <p>B.Forster</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="F.Foster">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=40383"/>
                <p>F.Foster</p>
              </div>
            </li>
          </ul>
        </div>
      
        <div class="positions menu">
          <a>Defenders</a>
          <ul data-pos="df">
            <li>
              <div draggable="true" data-player="L.Baines">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=12745"/>
                <p>L.Baines</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="G.Cahill">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=19419"/>
                <p>G.Cahill</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="P.Jagielka">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=7645"/>
                <p>P.Jagielka</p>
              </div>
            </li>
            <li>        
              <div draggable="true" data-player="G.Johnson">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=9047"/>
                <p>G.Johnson</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="L.Shaw">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=106760"/>
                <p>L.Shaw</p>
              </div>
            </li>
            <li><div draggable="true" data-player="C.Smalling">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=55909"/>
                <p>C.Smalling</p>
              </div>
            </li>
            <li><div draggable="true" data-player="P.Jones">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=76359"/>
                <p>P.Jones</p>
              </div>
            </li>
          </ul>
        </div>
        
        <div class="positions menu">
          <a>Midfielders</a>
          <ul data-pos="md">
            <li>
              <div draggable="true" data-player="R.Barkley">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=88894"/>
                <p>R.Barkley</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="R.Sterling">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=103955"/>
                <p>R.Sterling</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="S.Gerrard">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=1814"/>
                <p>S.Gerrard</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="J.Henderson">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=56979"/>
                <p>J.Henderson</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="A.Lallana">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=39155"/>
                <p>A.Lallana</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=2051"/>
                <p>F.Lampard</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="J.Milner">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=15157"/>
                <p>J.Milner</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="O.Chamberlain">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=81880"/>
                <p>O.Chamberlain</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="J.Wilshere">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=54102"/>
                <p>J.Wilshere</p>
              </div>
            </li>
          </ul>
        </div>
        
        <div class="positions menu">
          <a>Forwards</a>
          <ul data-pos="fw">
            <li>
              <div draggable="true" data-player="R.Lambert">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=11037"/>
                <p>R.Lambert</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="W.Rooney">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=13017"/>
                <p>W.Rooney</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="D.Sturridge">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=40755"/>
                <p>D.Sturridge</p>
              </div>
            </li>
            <li>
              <div draggable="true" data-player="D.Welbeck">
                <img draggable="false" src="http://omo.akamai.opta.net/image.php?&sport=football&entity=player&description=114&dimensions=40x60&id=50175"/>
                <p>D.Welbeck</p>
              </div>
            </li>
          </ul>
        </div>
      </section>


    <script src="{{ url_for('static', filename='js/miequipo.js') }}"></script>
</body>
</html>
