<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/olvidoContrasena.css') }}">
    <title>DreamXI</title>
</head>
<body>
    <div class="card login-form">
        <div class="card-body">
            <h1 class="card-title text-center">Reset password</h1>
            
            <div class="card-text">
                <form action="{{ url_for('routes.olvidocontrasena') }}" method="post">
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Introduce tu correo electrónico" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Introduce tu nueva contraseña</label>
                        <input type="password" name="password" id="password" class="form-control form-control-sm" placeholder="Introduce tu contraseña">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirmar contraseña</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control form-control-sm" placeholder="Confirma tu contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">restablecer contraseña</button>
                </form>                
                
            </div>
        </div>
    </div>
    <script>
        document.getElementById('resetForm').addEventListener('submit', function(event) {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
            
            if (password !== confirmPassword) {
                alert("Las contraseñas no coinciden");
                event.preventDefault(); 
            }
        });
    </script>
</body>

</html>
