<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prediccion.css') }}">
    <title>DreamXI</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo_dreamXI.png') }}" type="image/x-icon">
<!--  Styles  -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen:300|Bungee" rel="stylesheet">
</head>

<body>
<script src="{{ url_for('static', filename='js/prediccion.js') }}"></script>
</body>

</html>
