<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultadosCompeticiones.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>DreamXI</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo_dreamXI.png') }}" type="image/x-icon">

</head>
<body>

    <h1>Resultados Internacionales</h1>

    <select id="select-competition">
        <option value="">Selecciona una competición</option>
        {% for competition in competitions %}
        <option value="{{ competition }}">{{ competition }}</option>
        {% endfor %}
    </select>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Local</th>
                <th>Visitante</th>
                <th>Competicion</th>
                <th>Highlights</th>
            </tr>
        </thead>
        <tbody>
            {% for objeto in data_api %}
            <tr>
                <td><img src="{{ objeto.thumbnail }}" alt="Thumbnail"></td>
                <td>{{ objeto.title }}</td>
                <td>{{ objeto.side1.name }}</td>
                <td>{{ objeto.side2.name }}</td>
                <td>{{ objeto.competition.name }}</td>
                <td><a href="{{ objeto.url }}">{{ objeto.url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/resultadosCompeticiones.js') }}"></script>
</body>
</html>
