<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alineacionesProbables.css') }}">
    <title>DreamXI</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo_dreamXI.png') }}" type="image/x-icon">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Datos de la API</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Embed</th>
                <th>URL</th>
                <th>Thumbnail</th>
                <th>Side 1</th>
                <th>Side 2</th>
                <th>Competition</th>
                <th>Videos</th>
            </tr>
        </thead>
        <tbody>
            {% for objeto in data_api %}
            <tr>
                <td>{{ objeto.title }}</td>
                <td>{{ objeto.embed | safe }}</td>
                <td><a href="{{ objeto.url }}">{{ objeto.url }}</a></td>
                <td><img src="{{ objeto.thumbnail }}" alt="Thumbnail"></td>
                <td>{{ objeto.side1.name }}</td>
                <td>{{ objeto.side2.name }}</td>
                <td>{{ objeto.competition.name }}</td>
                <td>
                    {% for video in objeto.videos %}
                    <div>
                        <h4>{{ video.title }}</h4>
                        {{ video.embed | safe }}
                    </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/alineacionesProbables.js') }}"></script>
</body>
</html>
